.properties-search-box {
    margin: 10px 50px;
}

.only-for-sale-switch {
    display: flex;
    align-items: center;
}

.top-image {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.for-sale-or-all-properties-link {
    height: 36px;
}

@media (max-width: 992px) {
    .only-for-sale-switch{
        margin-top: 10px;
        margin-left: 12px;
    }
    .properties-search-box {
        margin: 6px 20px;
    }
}

@media (max-width: 556px) {
    .properties-search-box {
        margin: 4px 0;
    }

    .top-image {
        display: none !important;
    }
}