.my-properties-carousel {
    height: 400px;
}

.carousel-picture {
    height: 300px;
     width: 100%;
}

.my-properties-card {
    width: 80%;
    height: 80%;
}

.registrar-card {
    margin: 0 140px;
    margin-bottom: 40px;
}

.registrar-state-image {
    height: 60px;
}

.registrar-card-text {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .registrar-card {
        margin: 0 50px;
        margin-bottom: 30px;
    }

    .my-properties-card {
        width: 90%;
        height: 100%;
    }

    .registrar-card-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 556px) {
    .registrar-card {
        margin: 0 2px;
        margin-bottom: 20px;
    }
}
