.bg-orange-100 {
    background-color: rgb(254, 240, 233);
}


.bg-orange-200 {
    background-color: rgb(252, 211, 189);
}


.bg-orange-300 {
    background-color: rgb(249, 181, 145);
}

.bg-orange-400 {
    background-color: rgb(247, 152, 101);
}


.bg-orange-500 {
    background-color: rgb(245, 123, 57);
}


.bg-orange-600 {
    background-color: rgb(234, 88, 12, 0.9 );
}


.bg-orange-700 {
    background-color: rgb(243, 93, 12);
}


.bg-orange-800 {
    background-color: rgb(198, 76, 10);
}


.bg-orange-900 {
    background-color: rgb(22, 8, 1);
}

.light-text {
    color: #eae9e7 !important;
    text-decoration: none;
}

.light-text:hover {
    color: #F9F6EE !important;
}