body {
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFAF7 10%, #FFF3EA 20%, #F5F3F0 33%, #e9f7ff 80%, #e9ffe5 100%) center center fixed;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif !important;
    color: #234361 !important;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-custom {
    max-width: 450px;
}

.font-weight-600 {
    font-weight: 600;
}

.title-text {
    font-size: 36px;
    color: var(#234361,#333);
}

.input-box input:not([type='checkbox']) {
    border: 2px solid #e7e7e7;
    width: 100%;
    height: 100%;
    padding: 3px 8px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: .5s;
}

.input-box select {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 3px 8px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: .5s;
}

.input-box input:focus {
    border-color: #ff4c4c;
}


.small-text {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #6c757d;
}

.error-message {
    color: #de1738;
}

.registrar-address-text {
    font-weight: 600;
}

@media (max-width: 768px) {
    .registrar-address-text {
        display: none;
    }
}